# ================ MAJOR PROJECT ===================

# ********** Library Management System ************

In [20]:
import sqlite3
from datetime import datetime
conn = sqlite3.connect("library_Management_System.db")
cur = conn.cursor()

In [21]:
cur.execute(''' CREATE TABLE IF NOT EXISTS books( book_id INTEGER PRIMARY KEY AUTOINCREMENT, title TEXT, author  TEXT, quantity INTEGER)''')
cur.execute(''' CREATE TABLE IF NOT EXISTS students( student_id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, course  TEXT)''')
cur.execute(''' CREATE TABLE IF NOT EXISTS issueBooks( issue_id INTEGER PRIMARY KEY AUTOINCREMENT, book_id INTEGER, student_id  INTEGER, issue_date TEXT, return_date TEXT)''')
conn.commit()

In [22]:
def add_books():
    title = input("Enter book title: ")
    author = input("Enter book author: ")
    quantity = int(input("Enter book quantity: "))
    cur.execute("INSERT INTO books (title, author, quantity) VALUES (?, ?, ?)", (title, author, quantity))
    conn.commit()
    print("Book added successfully")

In [23]:
def view_books():
    cur.execute("SELECT * FROM books")
    rows = cur.fetchall()
    for row in rows:
        print(f"ID:{row[0]} | Title:{row[1]} | Author:{row[2]} | Qty:{row[3]}")

In [24]:
def add_student():
    name = input("Enter student name: ")
    course = input("Enter student course: ")
    cur.execute("INSERT INTO students (name, course) VALUES (?, ?)", (name, course))
    conn.commit()
    print("Student added successfully")

In [25]:
def issue_books():
    student_id = input("Enter student id: ")
    book_id = input("Enter book id: ")
    cur.execute("SELECT quantity FROM books WHERE book_id=?", (book_id))
    book = cur.fetchone()
    if book and book[0] > 0:
        issue_date = datetime.now().strftime("%Y-%m-%d")
        cur.execute("INSERT INTO issueBooks (book_id, student_id, issue_date, return_date) VALUES (?, ?, ?, NULL)", (book_id, student_id, issue_date))
        cur.execute("UPDATE books SET quantity = quantity - 1 WHERE book_id=?", (book_id,))
        conn.commit()
        print("Book issued successfully!\n")
    else:
        print("Book not available!\n")

In [26]:
def return_books():
    student_id = int(input("Enter student id: "))
    book_id = int(input("Enter book id: "))
    return_date = datetime.now().strftime("%Y-%m-%d")
    cur.execute("SELECT issue_id FROM issueBooks WHERE student_id=? AND book_id=? AND return_date IS NULL", (student_id, book_id))
    record = cur.fetchone()
    if record:
        cur.execute("UPDATE issueBooks SET return_date=? WHERE issue_id=?", (return_date, record[0]))
        cur.execute("UPDATE books SET quantity = quantity + 1 WHERE book_id=?", (book_id,))
        conn.commit()
        print("Book returned successfully!\n")
    else:
        print("No such issued book found!\n")

In [27]:
def view_issued_books():
    cur.execute("SELECT issue_id, book_id, student_id, issue_date FROM issueBooks WHERE return_date IS NULL")
    rows = cur.fetchall()
    print("\n--- Currently Issued Books ---")
    for row in rows:
        print(f"IssueID:{row[0]} | BookID:{row[1]} | StudentID:{row[2]} | IssueDate:{row[3]}")
    print()

In [28]:
def library_system():
    while True:
        print("===== Library Management System =====")
        print("1. Add Books")
        print("2. View All Books")
        print("3. Add Student")
        print("4. Issue Books")
        print("5. Return Books")
        print("6. View Issued Books")
        print("7. Exit")
        choice = input("Enter choice: ")

        if choice == '1':
            add_books()
        elif choice == '2':
            view_books()
        elif choice == '3':
            add_student()
        elif choice == '4':
            issue_books()
        elif choice == '5':
            return_books()
        elif choice == '6':
            view_issued_books()
        elif choice == '7':
            print("Exiting... ")
            break
        else:
            print("Invalid choice! Try again.\n")

In [29]:
library_system()
conn.close()

===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  1
Enter book title:  Let us c
Enter book author:  Y, kanetkar
Enter book quantity:  10

Book added successfully
===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  1
Enter book title:  DBMS
Enter book author:  Navethe
Enter book quantity:  15

Book added successfully
===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  2

ID:1 | Title:Let us c | Author:Y, kanetkar | Qty:10
ID:2 | Title:DBMS | Author:Navethe | Qty:15
===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  3
Enter student name:  Manshi
Enter student course:  Bca

Student added successfully
===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  4
Enter student id:  1
Enter book id:  1

Book issued successfully!

===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  4
Enter student id:  2
Enter book id:  2

Book issued successfully!

===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  5
Enter student id:  1
Enter book id:  1

Book returned successfully!

===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  6

--- Currently Issued Books ---
IssueID:2 | BookID:2 | StudentID:2 | IssueDate:2025-07-22

===== Library Management System =====
1. Add Books
2. View All Books
3. Add Student
4. Issue Books
5. Return Books
6. View Issued Books
7. Exit

Enter choice:  7

Exiting...